@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,400&display=swap");

:root {
  --white: #faf9f9;
  --yellow: #ffe01b;
  --dark: rgba(255, 255, 255, 0);
}
body {
  font-family: "Poppins", sans-serif;
}

/* navbar */
.logo {
  width: 16.25 rem;
}

/* links styles */

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.9rem;
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--white) !important;
  border-top: 3px solid var(--dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
/* hover effect */

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--yellow);
}
.navbar-nav > li > a:hover {
  border-top: 3px solid var(--yellow);
}
