@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,400&display=swap");

:root {
  --white: #faf9f9;
  --yellow: #ffe01b;
  --dark: rgba(255, 255, 255, 0);
}
body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--white);
}

/* navbar */
.logo {
  width: 16.25 rem;
}

/* links styles */

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.9rem;
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--white) !important;
  border-top: 3px solid var(--dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
/* hover effect */

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--yellow);
}
.navbar-nav > li > a:hover {
  border-top: 3px solid var(--yellow);
}

/* header */
.header-wrapper {
  position: relative;
  background: url(hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 3rem;
}
.typed-text {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

/* button */
.btn-main {
  border: 2px solid var(--yellow);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 12px 12px 12px;
  color: var(--white);
  margin: 2rem;
}
.btn-main:hover {
  text-decoration: none;
  background-color: var(--yellow);
  transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.7rem !important;
  }
  .navbar-brand {
    width: 5rem !important;
  }
}

/* about me styling */
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--dark);
}
.heading {
  color: var(--dark);
  text-transform: uppercase;
}
@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
